.nav-item {
    padding: 0 15px;
    font-size: 1.2em;
    font-weight: 900;
    color: #b06464;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s;
}

/* .nav justify-content-center {
    color: #b06464;
} */

.top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the navbar stays above other content */
    background-color: white; /* Optional: Add background color to navbar */
}

.navbar {
    position: fixed;
    top: 50px; /* Adjust this value based on the height of the top nav */
    width: 100%;
    z-index: 999; /* Ensures it stays below the top nav */
    background-color: white; /* Optional: Add background color to navbar */
    /* overflow-y: top; */
    /* max-height: calc(100vh - 50px); */
}

.heading1 {
    text-align: center;
    margin-top: 10%;
    font-size: 2em;
    font-weight: 900;
    color: #6b488e;
    text-transform: uppercase;
}

.img-fluid {
    margin-top: 20px;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.img-fluid2 {
    margin-top: 20px;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.img-fluid3 {
    margin-top: 20px;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.img-fluid4 {
    margin-top: 20px;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}


.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust as needed */
}

iframe {
    max-width: 100%;
    width: 560px; /* Adjust as needed */
    height: 315px; /* Adjust as needed */
}


.text {
    text-align: center;
    margin-top: 10%;
    font-size: 1.5em;
    font-weight: 900;
    color: #3b294d;
    text-transform: uppercase;
}

.link {
    display: block; /* Ensure it's a block-level element */
    text-align: center; /* Center the text */
    margin-top: 5%;
    font-size: 1.0em;
    font-weight: 1000;
    color: #517fdc;
    text-transform: uppercase;
}

.star-rating {
    text-align: center; /* Center the stars */
    margin-top: 1%;
}

.star {
    font-size: 2em; /* Adjust the size of the stars */
    color: #ffcc00; /* Color of the stars */
}


.text_s {
    text-align: center;
    margin-top: 5%;
    font-size: 0.9em;
    font-weight: 900;
    color: #9e9ba0;
    text-transform: uppercase;
}


.color-options {
    text-align: center;
    margin-top: 5%;
}

.color-options h4 {
    margin-bottom: 10px;
}

.color-options label {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

.color-swatch {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}

.color-swatch.black {
    background-color: #000;
}

.color-swatch.white {
    background-color: #fff;
    border: 1px solid #ccc;
}

.color-swatch.blue {
    background-color: #27722292;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;  
    margin-top: 50px; /* Adjust as needed */
}

.btn {
    padding: 10px 40px;
    font-size: 1.2em;
    font-weight: 900;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
/* .btn-warning {
    background-color: #f0ad4e;
}

.btn-danger {
    background-color: #d9534f;
} */

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    background-color: #f8f9fa; 
    margin-top: 50px;
}


/* .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
} */

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Adjust as needed */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.card {
    width: 18rem; /* Keep the existing width */
}


.text_rev {
    text-align: center;
    margin-top: 5%;
    font-size: 1.0em;
    font-weight: 900;
    color: #292032;
    text-transform: uppercase;
}